################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CasaDoCodigo/.vs
/CasaDoCodigo/CasaDoCodigo/bin
/CasaDoCodigo/CasaDoCodigo/obj
/CasaDoCodigo/CasaDoCodigo/CasaDoCodigo.csproj.user
